src/main/org/acre/extractor/wsdl/samples/BidServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BidServiceService" targetNamespace="http://bidservice.com" xmlns:tns="http://bidservice.com" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <schema  targetNamespace="http://schemas.xmlsoap.org/wsdl/" attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="ws-addressing.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bidservice.com" elementFormDefault="qualified" attributeFormDefault="qualified">
            <element name="BidRequest">
                <annotation>
                    <documentation>Comment describing your root element</documentation>
                </annotation>
                <complexType>
                    <all>
                        <element name="payload" type="anyType"/>
                    </all>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="StartHeader">
        <part name="MessageID" element="wsa:MessageID"/>
        <part name="ReplyTo" element="wsa:ReplyTo"/>
    </message>
    <message name="BidServiceSoapRequest">
        <part name="bidRequest" element="tns:BidRequest"/>
    </message>
    <message name="BidServiceSoapResponse">
  </message>
    <portType name="BidService">
        <operation name="submitBidRequest">
            <input message="tns:BidServiceSoapRequest"/>
            <output message="tns:BidServiceSoapResponse"/>
        </operation>
    </portType>
    <binding name="BidServiceBinding" type="tns:BidService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitBidRequest">
            <soap:operation soapAction="submitBidRequest" style="document"/>
            <input>
                <soap:header message="tns:StartHeader" part="MessageID" use="literal" required="false">
        </soap:header>
                <soap:header message="tns:StartHeader" part="ReplyTo" use="literal" required="false">
        </soap:header>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BidServiceService">
        <port name="BidServicePort" binding="tns:BidServiceBinding">
            <soap:address location="http://localhost:8080/replaceWithActualURL/BidService"/>
        </port>
    </service>
</definitions>
